extends ../layouts/client.pug

block content
  div(class="container py-4")
    if message.length > 0
      div(class=`alert alert-${message[0].type === 'success' ? 'success' : 'danger'}`) #{message[0].text}
    div(class="row")
      each candidate, index in candidates
        div(class="col-12 col-sm-6 mb-4")
          div(class="card border-0 shadow")
            div(class="card-header border-0 bg-white")
              h5(class="card-title mb-0") Candidate ##{index + 1}
            div(class="card-body p-0")
              ul(class="list-group list-group-flush")
                li(class="list-group-item")
                  div(class="font-weight-bold") President
                  div(class="text-muted") #{candidate.president}
                li(class="list-group-item")
                  div(class="font-weight-bold") Vice President
                  div(class="text-muted") #{candidate.vicePresident}
                li(class="list-group-item")
                  div(class="font-weight-bold") Vision
                  div(class="text-muted") #{candidate.vision}
            div(class="card-footer border-0 bg-white")
              button(
                class="btn btn-primary btn-block"
                type="button"
                data-id=`${candidate._id}`
                onclick=`emitVote('${candidate._id}')`
              ) Vote candidate
block script-addons
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
  script(src="/assets/js/vote.js")
